@CHARSET "UTF-8";

body {
	background-image: url("honey_im_subtle.png");
}

#container {
	width: 70%;
	margin: 0px auto;
}

.content {
	width: 45%;
	vertical-align: top;
	background-color: rgba(50, 75, 100, 0.4);
	border: solid red;
	border-width: 2px 2px;
	display: inline-block;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;	
}

header {
	margin-bottom: 20px;
}

.box {
	height: 700px;
	overflow: auto;
	padding: 0px 10px;
}

.sub-box {
	height: 70px;
	background-color: inherit;
}

footer {
	margin-top: 20px;
	vertical-align: middle;
}

#searchTable tr td:first-child {
    width: 200px;
}

.range-values {
	font-weight: bold;
	color: gray;
	border: 0px;
}

/* -----------------Search - add----------------- */

.functionList {
	display: inline-block;
	width: 40%;
	border: 1px solid silver;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}


select, option {
	width: 150px;
}

.textInput {
	width: 145px;
}
 
ul {
  list-style-type: none;
/*   width: 100%; */
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
/*   float: left; */
  margin: 0 0 0 0;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 0px;
  border: solid green;
  border-width: 1px 1px;
/*   overflow: auto; */
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

/* -----------------List----------------- */

#listTable {
	width: 100%;
}

.listRow {
/* 	width: 100%; */
}

.listRow {
  background: rgba(50, 75, 100, 0.4);
}

.listRow:hover {
  background: orange;
  cursor: pointer;
}

/* -----------------Top----------------- */

.thumbnail {
	width: 70px;
	height: 70px;
}

.topDetails {
	width: 150px;
}

/* .topParagraph { */
/* 	width: 100%; */
/* } */