@CHARSET "UTF-8";

body {
	background-image: url("../background/Grungy-orange_medium.png");
/* 	background-image: url("../background/bg-orange2.jpg"); */
/* 	background-size: 100% auto; */
	background-position: top;
/* 	background-repeat: no-repeat; */

	/* 	background-size:100% 100%; */
	/* 	background-repeat:no-repeat; */
}

#container {
	width: 90%;
	margin: 0px auto;
}

.content {
	width: 98%;
	vertical-align: top;
	border-width: 2px 2px;
	margin: 0px 10px;
	/* 	border: solid red; */
}

/* header { */
/* 	display: table-cell;  */
/* 	vertical-align: middle; */
/* } */
.box {
	margin-top: 20px;
	border: 1px solid black;
	height: 750px;
	overflow: auto;
	padding: 0px 10px;
	background-color: rgba(34, 126, 203, 0.6);
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	color: black;
	font-size: 20px;
}

.sub-box {
	border: 1px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	font-family: 'Audiowide', cursive;
}

header {
	margin-bottom: 20px;
	text-align: center;
	background-color: rgba(34, 126, 203, 0.6);
/* 	background: url("../background/burnout.png"); */
/* 	background-position: right bottom; */
}

footer {
	height: 24px;
	margin-top: 20px;
	padding: 45px 25px;
	/* 	text-align: center; */
	/* 	vertical-align: middle; */
	background-color: rgba(34, 126, 203, 0.6);
	font-size: 18px;
	text-align: center;
}

/* -----------------Search - add----------------- */
.title {
	/* 	text-align: center; */
	/* 	background: rgba(255, 255, 255, 0.6); */
	font-family: 'Audiowide', cursive;
	font-style: italic;
	color: black;
	font-size: 22px;
}

#searchTable tr td:first-child {
	width: 200px;
	font-weight: bold;
}

.range-values {
	font-weight: bold;
	color: gray;
	border: 0px;
}

#searchForm {
	margin: 0px auto;
}

#searchTable tr {
	padding: 40px;
}

#searchTable {
	width: 90%;
	height: 500px;
	border-spacing: 5px;
	border-collapse: collapse;
	margin-bottom: 60px;
}

/* #year-slider { */
/* 	width: 180%; */
/* } */
.functionList {
	display: inline-block;
	width: 40%;
	border: 1px solid silver;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.file_input_textbox {
	height: 25px;
	display: inline-block;
	width: 198px;
}

.file_input_div {
/* 	position: relative; */
	width: 200pxc c;
	height: 25px;
	overflow: hidden;
	display: inline-block;
}

.file_input_button {
	width: 200px;
	height: 25px;
	position: absolute;
/* 	top: 0px; */
	border: 1px solid #F0F0EE;
/* 	padding: 2px 8px 2px 8px; */
	font-weight: bold;
/* 	margin: 0px; */
/* 	margin-right: 5px; */
/* 	cursor: pointer; */
	display: inline-block;
}

.file_input_button_hover {
	width: 200px;
	height: 25px;
	position: absolute;
/* 	top: 0px; */
/* 	border: 1px solid #0A246A; */
/* 	background-color: #B2BBD0; */
/* 	padding: 2px 8px 2px 8px; */
/* 	margin: 0px; */
	font-weight: bold;
/* 	margin-right: 5px; */
	cursor: pointer;
	display: inline-block;
}

.file_input_hidden {
	width: 200px;
	height: 25px;
	font-size: 45px;
/* 	position: absolute; */
/* 	right: 0px; */
/* 	top: 0px; */
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
	display: inline-block;
}

select,option {
	width: 100%;
}

.textInput {
	width: 99%;
	/* 	width: 145px; */
}

ul {
	list-style-type: none;
	/*   width: 100%; */
}

h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
	/*   float: left; */
	margin: 0 0 0 0;
}

li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li,input,select,select option {
	border: solid silver;
	border-width: 1px 1px;
	background: rgba(20, 55, 110, 0.4);
	/* 	padding: 5px; */
	color: silver;
	/*   overflow: auto; */
}

li:hover {
	background: rgb(247, 159, 69);
	cursor: pointer;
	color: black;
	border: solid black;
	border-width: 1px 1px;
}

/* -----------------List----------------- */
.listTable {
	width: 100%;
}

.listRow {
	background: rgba(20, 55, 110, 0.4);
	color: silver;
	/*   margin-bottom: 10px; */
	/*   border: solid red; */
}

.listRow:hover {
	background: rgb(247, 159, 69);
	cursor: pointer;
	color: black;
}

/* -----------------Top----------------- */
.thumbnail {
	width: 100px;
	height: 100px;
	vertical-align: middle;
	padding: 0px;
}

.topDetails {
	/* 	width: 150px; */
	padding-left: 20px;
}

.detailDiv {
	margin-top: 3px;
	margin-bottom: 3px;
}

/* ---------------Details--------------- */

#detailsImage {
/* 	height: 200px; */
	border: solid silver;
	border-width: 1px 1px;
	width: 99%;
}